{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 11"
          ]
        },
        "corejs": "3.22.0",
        "useBuiltIns": "usage"
      }
    ]
  ]
}
